*~
*.elc
.projectile
.dap-breakpoints
.github
mkdocs.yml
.mc-lists.el
tramp
ede-projects.el
.DS_Store
places
smex-items
.smex-items
projectile-bookmarks.eld
session*
.cask
.emacs.desktop
.emacs.desktop.lock
network-security.data
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
prelude-cheatsheet.pdf
README.md
smex-items
ido.last
bookmarks
.lsp-session-v1
